.menu-player {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 5%;
    width: 20vh;
    height: 40vh;
    font-size: 2em;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 3.5vh;
    overflow: hidden;
    background-color: white;
}

.menu-player:last-of-type {
  margin-left: 5%;
  margin-right: auto;
}

.color-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  border-radius: 4vh;
}

.color {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.color span {
  margin: 0% auto;
  font-size: 3vh;
  color: white;
}

.color img {
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  width: 60%;
}

.player-info {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 2%;
  width: 100%;
  height: 50%;
}

.player-name {
  color: black;
  font-size: 5vh;
  text-align: center;
  margin: auto;
}

.time-container {
  position: relative;
  padding: 0.2vh 1vh;
  border-radius: 1vh;
  background-color: rgba(235, 235, 235, 1);
  color: rgba(0, 0, 0, 0.6);
  margin: auto;
  font-size: 5vh;
}

.time-container span {
  color: rgb(110, 15, 15);
}