.cinzento {
    position: fixed;
    inset: 0;
    background: rgba(46, 46, 46, 0.85);
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    z-index: 8;
}   

.container-endgame {
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.4);
    padding: 40px 60px;
    min-width: 350px;
    text-align: center;
    
}
.container-inf .playerwin {
    padding: 0 20px 0 20px;
    color: #FFD700;
    font-size: 8rem;
    margin-bottom: 0.1em;
    text-shadow: 2px 2px 10px #000, 0 0 20px #FFD70088;
    letter-spacing: 2px;
}

.container-inf .ganha {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 5px #000;
}


.container-inf button {
    font-family: "Jersey 10", sans-serif;
    padding: 15px 25px;
    border-radius: 1.5vh;
    background-color: #ccc;
    border: 2px solid WHITE;
    cursor: pointer;
    text-shadow: 0px 0px 5px #000;
    color: WHITE;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.5rem;
    transition: all 0.2s;
    margin-right: 1%;
    margin-left: auto;
    outline: none;
}

.container-inf button:last-of-type {
    margin-left: 1%;
    margin-right: auto;
}

.container-inf button:hover {
    background-color: #bcbcbc;
    color: #f8be00;
}