body {
    font-family: "Jersey 10", sans-serif;
    margin: 0;
}

.container-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

h1 {
    margin: auto auto 50px auto;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
}

.titulo {
    color: black;
    font-size: 10em;
}

.container-botoes {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.botao {
    position: relative;
    outline: none;
    margin: 50px;
    padding: 10px;
    width: 240px;
    height: 240px;
    border: none;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 0 4px 24px #0002;
    transition: all 0.2s;
}

.botao:hover {
    cursor: pointer;
}

.container-botoes .amarelo:hover {
    box-shadow: 0 0 50px #fff200;
}

.container-botoes .vermelho:hover {
    box-shadow: 0 0 40px #ff3c31;
}

.botao img {
    position: relative;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

.botao:hover img {
    filter: drop-shadow(0 4px 16px #0004);
}

.botao div {
    font-family: "Jersey 10", sans-serif;
    margin-top: 10px;
    line-height: 0.8em;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #222;
}
